:root {
  /* Main Colors */
  --light: #fff;
  --dark: #000;
  --primary: #0d6efd;
  --secondary: #5c636a;
  --accent: #777777;
  --gray: #212529;

  /* Fonts */
  --font-roboto: "Roboto";

  /* Alpha Shades - 30% Shades */
  --primary-30: color-mix(in srgb, var(--primary) 30%, transparent);
  --secondary-30: color-mix(in srgb, var(--secondary) 30%, transparent);
  --light-30: color-mix(in srgb, var(--light) 30%, transparent);
  --dark-30: color-mix(in srgb, var(--dark) 30%, transparent);

  /* Custome Colors */
  --primary-dark: color-mix(in srgb, var(--primary) 80%, var(--dark));
  --secondary-dark: color-mix(in srgb, var(--secondary) 80%, var(--dark));
  --secondary-tint: color-mix(in srgb, var(--secondary) 5%, transparent);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-roboto);
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
a:any-link {
  color: var(--primary);
}
/* Component Variations */
.button {
  background-color: transparent;
  border: 0 solid;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 5px 10px;
}

/*  Varients */
.button-primary {
  background-color: var(--primary);
  color: var(--light);
  border: 2px solid var(--primary-30);
  box-shadow: 0 0 0 0 var(--primary-30);
}
.button-primary:focus {
  box-shadow: 0 0 0 6px var(--primary-30);
  border: var(--primary-30) 2px solid;
  background-color: var(--primary-dark);
}
.button-primary:hover {
  background-color: var(--primary-dark);
}

.button-secondary {
  background-color: var(--secondary);
  color: var(--light);
  border: 2px solid var(--secondary-30);
  box-shadow: 0 0 0 0 var(--secondary-30);
}
.button-secondary:focus {
  box-shadow: 0 0 0 6px var(--secondary-30);
  border: var(--secondary) 2px solid;
  background-color: var(--secondary-dark);
}
.button-secondary:hover {
  background-color: var(--secondary-dark);
}

.button-outline {
  padding: 8px 12px;
  border-radius: 0;
  border: 1px solid var(--dark-30);
  box-shadow: 0 0 0 0 var(--dark-30);
  color: var(--secondary);
}
.button-outline:focus {
  box-shadow: 0 0 0 4px var(--dark-30);
  border: var(--dark-30) 1px solid;
}
.button-outline:hover {
  background-color: var(--secondary);
  color: var(--light);
}

.button-toggle {
  border: 2px solid var(--light-30);
  box-shadow: 0 0 0 0 var(--light-30);
}
.button-toggle:focus {
  box-shadow: 0 0 0 4px var(--light-30);
  border: var(--light-30) 2px solid;
}
/* Size */
.button-lg {
  font-size: 18px;
  padding: 7px 15px;
}

/* Header */
header {
  background-color: var(--gray);
  color: var(--light);
}
.collapsible-nav {
  overflow: hidden;
  transition: height 0.3s ease;
  height: 0;
}

.collapsible-nav-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 20px 0;
  position: relative;
  gap: 50px;
}
.collapsible-nav-title {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}
.about-wrapper {
  grid-column: 1/3;
}

.about-body {
  font-weight: 300;
  opacity: 50%;
  line-height: 1.5rem;
  font-size: 18px;
}
.contact-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact-option:any-link {
  color: var(--light);
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.nav-logo-wrapper {
  height: 40px;
}
.nav-logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.button-toggle {
  margin: 2px 0;
  padding: 4px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-icon {
  height: 30px;
  width: 30px;
}

/* Hero Section */
.hero-section {
  padding: 100px 0;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.hero-title {
  font-weight: 200;
  font-size: 45px;
  text-align: center;
}
.hero-body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero-description {
  font-size: 22px;
  color: var(--dark);
  max-width: 600px;
  text-align: center;
  opacity: 70%;
  line-height: 2rem;
  font-weight: 200;
}
.hero-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

/* Album Grid */
.album-section {
  padding: 50px 0;
  background-color: var(--secondary-tint);
}
.album-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
/* Picture Card */
.album-card {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px var(--dark-30);
}

.album-card-img-wrapper {
  background-color: var(--accent);
  color: var(--light);
  aspect-ratio: 16/9;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

.album-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.album-card-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  flex: 1;
}
.album-card-description {
  opacity: 80%;
  line-height: 1.7rem;
}
.album-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-group-wrapper {
  display: inline-flex;
  border: 1px solid var(--dark-30);
  border-radius: 6px;
}
.timestamp {
  opacity: 40%;
}
.button-outline:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.button-outline:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Footer Section */
footer {
  padding: 50px 0;
}
.footer-wrapper {
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  color: var(--secondary);
}
.acknowledge {
  color: var(--secondary);
}
.footer-action {
  white-space: nowrap;
  float: right;
  padding-left: 20px;
}
/* Tab */
@media (max-width: 1024px) {
  .nav-logo-wrapper {
    height: 30px;
  }
  .button-toggle {
    padding: 0 8px;
  }
  .menu-icon {
    height: 30px;
    width: 30px;
  }
  .hero-section {
    padding: 50px 0px;
  }
  .hero-title {
    font-size: 40px;
  }
  .hero-description {
    font-size: 18px;
  }
  .button-lg {
    font-size: 14px;
  }

  .collapsible-nav-wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer-wrapper {
    font-size: 14px;
  }
}

/* Mobile Media Query */
@media (max-width: 768px) {
  .hero-title {
    font-size: 30px;
  }
  .album-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
